.navbar {
    z-index: 1000;
}

.category {
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.sidebar {
    height: calc(100vh - 200px);
    padding: 10px;
}

.sidebar-links {
    list-style: none;
}

.sideNav-item {
    background-color: #FFF1BD;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px; 
    text-align: center;
}

.sideNav-link {
    text-decoration: none;
}